In [47]:
#Notering: Skriptet nedan körs automatiskt via schemaläggning (kl.12.00 varje dag)

#Importera nödvändiga bibliotek
import sqlite3
import pandas as pd
import logging

In [49]:
#Ställ in loggning
logging.basicConfig(filename='script_log.log', level=logging.INFO,
                    format='%(asctime)s - %(levelname)s - %(message)s')
logging.info('Skriptet har startat.')

In [53]:
try:
    #Anslut till min databasfil
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    logging.info('Anslutning till SQLite-databasen lyckades.')

    #Ta bort data som redan finns i tabellen (för att undvika dublettfel)
    cursor.execute('DELETE FROM employees')
    conn.commit()
    logging.info('Befintlig data i employees-tabellen raderades.')

    #Läs CSV-filen (information om anställda)
    df = pd.read_csv('employees.csv')
    logging.info('CSV-filen lästes in korrekt')
    #Uppdatera 'employees' tabellen med datan från CSV-filen
    df.to_sql('employees', conn, if_exists='append', index=False)
    logging.info('Data från CSV-filen har importerats till employees-tabellen.')

    #Verifiera datan är korrekt importerad samt läs och skriv ut tabellen via Pandas
    query = "SELECT * FROM employees"
    df_check = pd.read_sql_query(query, conn)
    print("Data från tabellen efter import:")
    print(df_check)

    #Verifiera datan genom att hämta och skriva ut rader med cursor
    cursor.execute("SELECT * FROM employees")

    rows = cursor.fetchall()
    print("Data från tabellen med cursor")
    for row in rows:
        print(row)

except Exception as e:
    logging.error(f"Ett fel uppstod: {e}")

finally:
#Stäng anslutning
    if conn:
        conn.close()
    logging.info('Anslutning stängd')

Data från tabellen efter import:
   employee_id      employee_name          position    salary
0            1  Margareth Duffman         Principal  100000.0
1            2           John Doe      Head Teacher   60000.0
2            3   Stella Andersson      Head Teacher   60000.0
3            4       Martina Roan      Head Teacher   80000.0
4            5        Eric Cooper           Teacher   50000.0
5            6     William Bailey           Teacher   40000.0
6            7        Sofia Roper           Teacher   50000.0
7            8        Carl Murphy           Janitor   20000.0
8            9       Teresa Smith  Cafeteria Worker   20000.0
9           10       Tomas Felton           Cleaner   20000.0
Data från tabellen me cursor
(1, 'Margareth Duffman', ' Principal', 100000.0)
(2, 'John Doe', ' Head Teacher', 60000.0)
(3, 'Stella Andersson', ' Head Teacher', 60000.0)
(4, 'Martina Roan', ' Head Teacher', 80000.0)
(5, 'Eric Cooper', ' Teacher', 50000.0)
(6, 'William Bailey', ' Teacher', 40000.0)
(7, 'Sofia Roper', ' Teacher', 50000.0)
(8, 'Carl Murphy', ' Janitor', 20000.0)
(9, 'Teresa Smith', 'Cafeteria Worker', 20000.0)
(10, 'Tomas Felton', 'Cleaner', 20000.0)